<h1>Signup</h1>

<form action="/auth/signup" method="post">

    <label> Username:
        <input type="text" name="username" placeholder="Username" required> 
    </label>

    <label> Password:
        <input type="password" name="password" placeholder="*********" required> 
    </label>

    <button type="submit">Create account</button>

</form>